
html {
    font-family: sans-serif;
}
html * {
    box-sizing: border-box;
}
body {
    margin: 0 0 0 0;
    background-color: #eeece9;
}
.wrapper {
    margin: 0 auto 0 auto;
    max-width: 960px;
}
h2 {
    border-bottom: 3px dotted #3f5170;
}
p {
    line-height: 1.6;
}
a:link {
    color: #d25833;
}
a:visited {
    color: #e3937a;
}
a:hover {
    color: #e3937a;
}
a:active {
    color: #ff6a3b;
}

/* すべてのページに適用　ヘッダー　ここから*/
.logo {
    margin: 50px 0 40px 0;
    line-height: 0;
    text-align: left;
}
.nav li {
    display: inline;
    list-style-type: none;
    padding-right: 30px;
}
.nav ul {
    margin: 0 0 0 0;
    padding: 20px 10px 15px 20px;
    background-image: url(../image/);
    background-repeat: repeat-x;
}
.nav a:link {
    color: #d25833;
    text-decoration: none;
}
.nav a:visited {
    color: #e3937a;
    text-decoration: none;
}
.nav a:hover {
    color: #e3937a;
    text-decoration: none;
}
.nav a:active {
    color: #ff6a3b;
    text-decoration: none;
}
/* すべてのページに適用 ヘッダー ここまで*/
/* すべてのページに適用 本文 ここから*/
.center-photo {
    margin: 10px 0 10px 0;
    line-height: 0;
    text-align: center;
}
.info {
    border-collapse: collapse;
}
.info th, .info td {
    padding: 8px;
    border: 1px solid #bec2c7;
    text-align: left;
}
/* すべてのページに適用 本文 ここまで*/
/* すべてのページに適用 フッター ここから*/
.footer {
    font-size: 12px;
    border-top: 1px dotted #3f5170;
}
.footer li {
    display: inline;
    list-style-type: none;
    padding-right: 30px;
}
.footer ul {
    margin: 0 0 0 0;
    padding: 20px 10px 15px 20px;
}
.footer a:link {
    color: #d25833;
    text-decoration: none;
}

.footer a:visited {
    color: #e3937a;
    text-decoration: none;
}

.footer a:hover {
    color: #e3937a;
    text-decoration: none;
}

.footer a:active {
    color: #ff6a3b;
    text-decoration: none;
}
/* すべてのページに適用　フッター ここまで*/
/* about brand ナビゲーション ここから*/
.nav-2 li {
    display: inline;
    list-style-type: none;
    padding-right: 30px;
}

.nav-2 ul {
    margin: 0 0 0 0;
    padding: 20px 10px 15px 20px;
    background-image: url(../image/);
    background-repeat: repeat-x;
}

.nav-2 a:link {
    color: #d25833;
    text-decoration: none;
}

.nav-2 a:visited {
    color: #e3937a;
    text-decoration: none;
}

.nav-2 a:hover {
    color: #e3937a;
    text-decoration: none;
}

.nav-2 a:active {
    color: #ff6a3b;
    text-decoration: none;
}
/* about brand ナビゲーション ここから*/
/* index.html ここから*/
/* index.html ここまで*/
/* about misson.html ここから*/
.a-photo {
    float: none;
    padding: 0 0 1em 0;
}
/* about misson.html ここまで*/
/* about_greeting.html ここから*/
.gakutyo-photo {
    float: right;
    padding: 0 0 1em 1em;
}
